<html>
    <head>
        <title>Shortana Index</title>
        <meta charset="utf-8">

        <!-- ribbon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

        <!-- Milligram CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <style type="text/css">
            .error {
                background: #9b4dca;
                color: #fff;
                padding: 10px 30px;
                border-radius: 15px;
                margin: 30px 10px;
            }

            /* The default background color is #c00 */
            .github-fork-ribbon.right-top:before {
                background-color: #9b4dca;
            }

        </style>

    </head>
    <body>

        <a class="github-fork-ribbon right-top" href="https://github.com/w32blaster/shortana" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

        <main class="wrapper">
            <div class="container">

                <h1>Shortana list</h1>

                {{ if .WrongUrl }}
                    <div class="error">
                    Are you lost? We can't find the url {{$.Hostname}}/{{.WrongUrl}}.
                    All available URLs are listed below
                    </div>
                {{ end }}

                {{ if .Error }}
                    <div class="container">
                        <p>
                            Error: {{ .error }}
                        </p>
                    </div>
                {{ else }}
                    <ul>
                        {{range .Links}}
                            {{if .IsPublic}}
                                <li>
                                    <a href="{{.TargetUrl}}">{{$.Hostname}}/{{.ShortUrl}}</a> - {{ .Description }}
                                </li>
                            {{end}}
                        {{end}}
                    </ul>
                {{ end }}
            </div>
        </main>
    </body>
</html>